:root {
    --primary-text-color:#757575;
    --title-text-color :#212121;
    --minor-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}

/* site-nav*/
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
}
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}

/*contact-nav*/

.contact-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.contact-nav .link:hover,
.contact-nav .link:focus{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

/*hero*/

.hero {
    background-color: #2F303A;
}
.hero-title{
    color: var(--minor-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
.hero-button{
    background-color: var(--accent-color);
    color: var(--minor-color);    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
}

.section-title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
}

.feature-title{
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
}
.feature-text{
    font-size: 14px;
    line-height: 1.71;
}

.team-member-name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.team-member.position{
    font-size: 16px;
    line-height:  1.18;
}
.footer{
    background-color:#2F303A;
}
.contact-list .address{
    color: var(--minor-color);
    font-size: 14px;
    line-height: 1.71;
}

.contact-list .link {
    color:#FFFFFF60;
    font-size: 14px;
    line-height: 24px;
}
.contact-list .link:hover,
.contact-list .link:focus{
    color: var(--accent-color);
}
/*portfolio*/

.filter-button{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus{
    color: var(--minor-color);
    background-color: var(--accent-color);
}
.product-name{
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
}
.product-type{
    font-size: 16px;
    line-height: 1.875;
}